footer {
    width: 100vw;
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer > p {
    font-size: 17px;
    color: white;   
    margin-bottom: 15px;
}

@media screen and (max-width: 550px) {
    footer > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    footer > p {
        font-size: 12px;
    }
}

@media screen and (max-width: 290px) {
    footer > p {
        font-size: 10px;
    }
}